.home,.skill,.project,.about{
    transition: box-shadow .9s, border-radius .9s,
                color .9s;
}
.home:hover{
    box-shadow:0 2px 3px 0 rgba(0,0,0,.9); 
    border-radius: 20px;
    color: black;
}
.interest:hover{
    box-shadow:0 2px 3px 0 rgba(0,0,0,.9); 
    border-radius: 20px;
    color: black;
}
.project:hover{
    box-shadow:0 2px 3px 0 rgba(0,0,0,.9); 
    border-radius: 20px;
    color: black;
}
.about:hover{
    box-shadow:0 2px 3px 0 rgba(0,0,0,.9); 
    border-radius: 20px;
    color: black;
}
.icon{
    transition: box-shadow .9s,transform .9s;
}
.icon:hover{
    box-shadow:0 2px 3px 0 rgba(0,0,0,.9) ;
    transform: scale(1.1);
}
.name{
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.name::before{
    content: "Luis Andrea T Relosa";
    color: orange;
    animation: words 20s infinite;
}
.name::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: rgb(95,112,231) ;
    border-left: 2px solid orange;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14)infinite;

}
@keyframes cursor{
to{
border-left: 2px solid orange ;
}
}
@keyframes words{
    0%,20%{
        content: "Luis Andrea T Relosa";
    }
    21%,40%{
        content: "Web Developer";
    }
    41%,60%{
        content: "Gamer";
    }
    61%,80%{
        content: "Professional Kupal";
    }
    81%,100%{
        content: "Game Developer";
    }
}
@keyframes typing{
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
    
}
.socmed{
    transition: transform .4s, box-shadow .7s;
    
}
.socmed:hover{
    transform: scale(1.2);
    box-shadow:0 2px 3px 0 rgba(0,0,0,.9);
}
