@font-face {
    font-family: catext;
    src: url(04B_30__.TTF);
}
*{
    padding: 0;
    margin: 0;
}
Body{
    background: lightblue;
    overflow: hidden;
}
footer{
    display: flex;
    position: relative;
    color: white;
    margin-top: 85px;
    background: #133E87;
    height: 100px;
    width: 100%;
    align-items: baseline;
    justify-content: baseline;
    border-top: black;
    border-style: ridge;
}
footer img{
    display: flex;
    justify-content: space-between;
    width: 40px;
    margin-left: 10px;
}
.search{
    margin-left: 40px;
    background: white;
    padding-right: 300px;
    padding-left: 10px;
    border-radius: 20px;
}
.searchtext{
    position: absolute;
    color: black;
    left: 8%;
    margin-top: 12px;
    font-family: catext;
}
.footericons{
    position: absolute;
    top: 0;
    left: 25% ;
    display: flex;
    justify-content: space-between;
}
.footericons img{
    margin-left: 40px;
    height: 40px;
}
.Icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    
}
.google, .filemanager, .emptyfolder, .desktop{
    position: relative;
    width: 80px;
    margin-top: 100px;
    margin-left: 50px;
}
.t1, .t2, .t4{
    margin-left: 70px;
}
.t3{
    margin-left: 60px;
}
.cat{
    position: absolute;
    top: 30%;
    left: 25%;
    height: 80%;
    opacity: 60%;
}
.catalk{
    background: white;
    padding: 40px;
    top: 25%;
    left: 60%;
    border-radius: 15px;
    border-style: ridge;
    border-color: black;
    position: absolute;
    font-family: catext;
    opacity: 60%;   
}
.iconsbg{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 10%;
    width: 80px;
    justify-content: space-between;
    pointer-events: none;
}
.iconsbg img{
    margin-top:90px;
}
.netvolume{
    display: flex;
    position: relative;
    margin-left: 60%;
    justify-content: space-between;
}
.netvolume img{
    height: 30px;
    padding-bottom: 5px;
    margin-right: 12px;
}
/* Clock design */
.clock {
    color: white;
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    position:absolute;
    left: 90%;
    top: 7%;
}

#ampm {
    font-size: 1em;
    vertical-align: top;
    margin-left: 10px;
}
/*Clock design end*/